<div class="row">
   <div class="col-md-5 text-center">
      <img src="{{ toy.image }}"
      width="300" height="300">
      <h3>{{ toy.name }}</h3>
   </div>
   <div class="col-md-7">
      <ul>
         <li>Name: {{ toy.name }}</li>
         <li>Color: {{ toy.color }}</li>
         <li>Quantity: {{ toy.quantity }}</li>
         <li>Price: {{ toy.price }}</li>
         <li>Description: {{ toy.description}}</li>
         <li>Category: {{ toy.category.name }}</li>
      </ul>
   </div>
</div>
